<div class="masthead clearfix">
  <div class="inner">
    <nav class="nav nav-masthead app-nav">
    	<%= link_to "Events", index_path %>
    	<%= link_to "Register", new_user_registration_path %>
    	<%= link_to "Login", new_user_session_path %>
    </nav>
  </div>
</div>