<div class="masthead clearfix">
  <div class="inner">
    <nav class="nav nav-masthead app-nav">
    	<%= link_to "Events", index_path %> 
      <%= render "shared/devise_links" %>
    </nav>
  </div>
</div>