<h1>All Events</h1>

  <div class="album text-muted">
    <div class="container">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="column-left">
               <h3 class="event-title"><%= link_to event.title.titleize, event %></h3>
              <%= image_tag "#{event.thumb_image}", width: 300, height: 300 %>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
